<h2 mat-dialog-title>Necesidad Inmediata</h2>
<mat-dialog-content>
  <button mat-fab extended class="!bg-green-600 mr-2 " (click)="ImprimirPorcentajeDeUso()">
    <mat-icon>print</mat-icon>
    Porcentaje de Uso
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirCompromisoPago()">
    <mat-icon>print</mat-icon>
    Compromiso de Pago
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirAdendaDeUso()">
    <mat-icon>print</mat-icon>
    Adenda
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionICE()">
    <mat-icon>print</mat-icon>
    Inhumacion ICE
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionPersonal()">
    <mat-icon>print</mat-icon>
    Inhumacion Personal
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionIC()">
    <mat-icon>print</mat-icon>
    Inhumacion IC
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionPC()">
    <mat-icon>print</mat-icon>
    Inhumacion PC
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionPP()">
    <mat-icon>print</mat-icon>
    Inhumacion PP
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirProgramacionEntierro()">
    <mat-icon>print</mat-icon>
    Programación Entierro
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionFamiliar()">
    <mat-icon>print</mat-icon>
    Inhumacion Familiar
  </button>
</mat-dialog-content>
<h2 mat-dialog-title>Necesidad Futura</h2>
<mat-dialog-content>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionFamiliar()">
    <mat-icon>print</mat-icon>
    Inhumacion Familiar
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionIC()">
    <mat-icon>print</mat-icon>
    Inhumacion IC
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionICE()">
    <mat-icon>print</mat-icon>
    Inhumacion ICE
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirInhumacionPersonal()">
    <mat-icon>print</mat-icon>
    Inhumacion Personal
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirAdendaDeUso()">
    <mat-icon>print</mat-icon>
    Adenda
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirPorcentajeDeUso()">
    <mat-icon>print</mat-icon>
    Porcentaje de Uso
  </button>
  <button mat-fab extended class="!bg-green-600 mr-2 mt-1" (click)="ImprimirCompromisoPago()">
    <mat-icon>print</mat-icon>
    Compromiso de Pago
  </button>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-content class="!flex flex-col">
  <button mat-fab extended class="!bg-green-600 mr-2 " (click)="ImprimirContrato()">
    <mat-icon>print</mat-icon>
    Imprimir Contrato
  </button>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close cdkFocusInitial
    class="middle none center rounded-lg bg-pink-500 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Cancelar</button>
</mat-dialog-actions>