/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add application styles & imports to this file! */
@import '~@ng-select/ng-select/themes/default.theme.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-paginator {
  background-color: transparent !important;
  color: #64758b !important;
}

mat-form-field div {
  background-color: transparent !important;
  color: #64758b !important;
}
mat-option{
  background-color: transparent !important;
 }

 .ng-select {

   .ng-select-container {
    background-color: rgb(249, 250, 251);
     border: 1px solid #d1d5db;
     border-radius: 8px;
     min-height: 1.75rem;
    max-height: 1.75rem;
   }
 }

 .ng-value{
  margin-top: 5px;
 }

 .ng-clear-wrapper{
margin-top: 4px;
 }
 .ng-arrow-wrapper{
margin-top: 4px;
 }
